h2 {
  padding:.5em;
}

.experiences {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 40em;
    
  }
  .experiences li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 10px;
    height: 1.5em;
    border-radius: 4px;
  }
  .experiences li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .experiences li.selected {
    background-color: black;
    color: white;
  }
  .experiences li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .experiences li.selected:active {
    background-color: black;
    color: white;
  }

  
  input {
    padding: .5rem;
  }